.sidebar {
  background-color: #e26c0e;
  height: 100%;
  color: white;
  position: fixed!important;
  z-index: 1;
  overflow: auto;
}

.image {
  border-radius: 40%;
  width: 100%;
  border: 5px solid #ddd;
}

.text-navigation{
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: center;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}
.details{
   height: 250;
}
.p{
  text-align: justify;
  font-size: 18;
}
.p-h8{
  text-align: center;
  font-size: 10px;
}
.p-reference{
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  text-align: justify;
  font-size: 15;
}
.pre2 {
    overflow: auto;
    font-family: monospace,monospace;
    border: 1px solid #999;
    page-break-inside: avoid;
    font-size: 1em;
    display: block;
    padding: 10px;
    margin: 12px 0 10px;
    font-size: 12px;
    line-height: 1.4em;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
  
          }
.bar-blue{
    color: #fff!important;
    background-color: #005883!important;
}

.bar-orange{
  color: #fff!important;
    background-color: #F47920!important;
}

